.container {
    width: 1140px;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .col-xl-1 {width: calc(100% * 1 / 12);}
    .col-xl-2 {width: calc(100% * 2 / 12);}
    .col-xl-3 {width: calc(100% * 3 / 12);}
    .col-xl-4 {width: calc(100% * 4 / 12);}
    .col-xl-5 {width: calc(100% * 5 / 12);}
    .col-xl-6 {width: calc(100% * 6 / 12);}
    .col-xl-7 {width: calc(100% * 7 / 12);}
    .col-xl-8 {width: calc(100% * 8 / 12);}
    .col-xl-9 {width: calc(100% * 9 / 12);}
    .col-xl-10 {width: calc(100% * 10 / 12);}
    .col-xl-11 {width: calc(100% * 11 / 12);}
    .col-xl-12 {width: 100%;}

    .offset-xl-1 {padding-left: calc(100% * 1 / 12);}
    .offset-xl-2 {padding-left: calc(100% * 2 / 12);}
    .offset-xl-3 {padding-left: calc(100% * 3 / 12);}
    .offset-xl-4 {padding-left: calc(100% * 4 / 12);}
    .offset-xl-5 {padding-left: calc(100% * 5 / 12);}
    .offset-xl-6 {padding-left: calc(100% * 6 / 12);}
    .offset-xl-7 {padding-left: calc(100% * 7 / 12);}
    .offset-xl-8 {padding-left: calc(100% * 8 / 12);}
    .offset-xl-9 {padding-left: calc(100% * 9 / 12);}
    .offset-xl-10 {padding-left: calc(100% * 10 / 12);}
    .offset-xl-11 {padding-left: calc(100% * 11 / 12)}
}

@media screen and (min-width: 992px) {
    .col-lg-1 {width: calc(100% * 1 / 12);}
    .col-lg-2 {width: calc(100% * 2 / 12);}
    .col-lg-3 {width: calc(100% * 3 / 12);}
    .col-lg-4 {width: calc(100% * 4 / 12);}
    .col-lg-5 {width: calc(100% * 5 / 12);}
    .col-lg-6 {width: calc(100% * 6 / 12);}
    .col-lg-7 {width: calc(100% * 7 / 12);}
    .col-lg-8 {width: calc(100% * 8 / 12);}
    .col-lg-9 {width: calc(100% * 9 / 12);}
    .col-lg-10 {width: calc(100% * 10 / 12);}
    .col-lg-11 {width: calc(100% * 11 / 12);}
    .col-lg-12 {width: 100%;}

    .offset-lg-1 {padding-left: calc(100% * 1 / 12);}
    .offset-lg-2 {padding-left: calc(100% * 2 / 12);}
    .offset-lg-3 {padding-left: calc(100% * 3 / 12);}
    .offset-lg-4 {padding-left: calc(100% * 4 / 12);}
    .offset-lg-5 {padding-left: calc(100% * 5 / 12);}
    .offset-lg-6 {padding-left: calc(100% * 6 / 12);}
    .offset-lg-7 {padding-left: calc(100% * 7 / 12);}
    .offset-lg-8 {padding-left: calc(100% * 8 / 12);}
    .offset-lg-9 {padding-left: calc(100% * 9 / 12);}
    .offset-lg-10 {padding-left: calc(100% * 10 / 12);}
    .offset-lg-11 {padding-left: calc(100% * 11 / 12)}
}

@media screen and (min-width: 768px) {
    .col-md-1 {width: calc(100% * 1 / 12);}
    .col-md-2 {width: calc(100% * 2 / 12);}
    .col-md-3 {width: calc(100% * 3 / 12);}
    .col-md-4 {width: calc(100% * 4 / 12);}
    .col-md-5 {width: calc(100% * 5 / 12);}
    .col-md-6 {width: calc(100% * 6 / 12);}
    .col-md-7 {width: calc(100% * 7 / 12);}
    .col-md-8 {width: calc(100% * 8 / 12);}
    .col-md-9 {width: calc(100% * 9 / 12);}
    .col-md-10 {width: calc(100% * 10 / 12);}
    .col-md-11 {width: calc(100% * 11 / 12);}
    .col-md-12 {width: 100%;}

    .offset-md-1 {padding-left: calc(100% * 1 / 12);}
    .offset-md-2 {padding-left: calc(100% * 2 / 12);}
    .offset-md-3 {padding-left: calc(100% * 3 / 12);}
    .offset-md-4 {padding-left: calc(100% * 4 / 12);}
    .offset-md-5 {padding-left: calc(100% * 5 / 12);}
    .offset-md-6 {padding-left: calc(100% * 6 / 12);}
    .offset-md-7 {padding-left: calc(100% * 7 / 12);}
    .offset-md-8 {padding-left: calc(100% * 8 / 12);}
    .offset-md-9 {padding-left: calc(100% * 9 / 12);}
    .offset-md-10 {padding-left: calc(100% * 10 / 12);}
    .offset-md-11 {padding-left: calc(100% * 11 / 12)}
}

@media screen and (min-width: 576px) {
    .col-sm-1 {width: calc(100% * 1 / 12);}
    .col-sm-2 {width: calc(100% * 2 / 12);}
    .col-sm-3 {width: calc(100% * 3 / 12);}
    .col-sm-4 {width: calc(100% * 4 / 12);}
    .col-sm-5 {width: calc(100% * 5 / 12);}
    .col-sm-6 {width: calc(100% * 6 / 12);}
    .col-sm-7 {width: calc(100% * 7 / 12);}
    .col-sm-8 {width: calc(100% * 8 / 12);}
    .col-sm-9 {width: calc(100% * 9 / 12);}
    .col-sm-10 {width: calc(100% * 10 / 12);}
    .col-sm-11 {width: calc(100% * 11 / 12);}
    .col-sm-12 {width: 100%;}

    .offset-sm-1 {padding-left: calc(100% * 1 / 12);}
    .offset-sm-2 {padding-left: calc(100% * 2 / 12);}
    .offset-sm-3 {padding-left: calc(100% * 3 / 12);}
    .offset-sm-4 {padding-left: calc(100% * 4 / 12);}
    .offset-sm-5 {padding-left: calc(100% * 5 / 12);}
    .offset-sm-6 {padding-left: calc(100% * 6 / 12);}
    .offset-sm-7 {padding-left: calc(100% * 7 / 12);}
    .offset-sm-8 {padding-left: calc(100% * 8 / 12);}
    .offset-sm-9 {padding-left: calc(100% * 9 / 12);}
    .offset-sm-10 {padding-left: calc(100% * 10 / 12);}
    .offset-sm-11 {padding-left: calc(100% * 11 / 12)}
}

@media screen and (max-width: 576px) {
    .col-1 {width: calc(100% * 1 / 12);}
    .col-2 {width: calc(100% * 2 / 12);}
    .col-3 {width: calc(100% * 3 / 12);}
    .col-4 {width: calc(100% * 4 / 12);}
    .col-5 {width: calc(100% * 5 / 12);}
    .col-6 {width: calc(100% * 6 / 12);}
    .col-7 {width: calc(100% * 7 / 12);}
    .col-8 {width: calc(100% * 8 / 12);}
    .col-9 {width: calc(100% * 9 / 12);}
    .col-10 {width: calc(100% * 10 / 12);}
    .col-11 {width: calc(100% * 11 / 12);}
    .col-12 {width: 100%;}

    .offset-1 {padding-left: calc(100% * 1 / 12);}
    .offset-2 {padding-left: calc(100% * 2 / 12);}
    .offset-3 {padding-left: calc(100% * 3 / 12);}
    .offset-4 {padding-left: calc(100% * 4 / 12);}
    .offset-5 {padding-left: calc(100% * 5 / 12);}
    .offset-6 {padding-left: calc(100% * 6 / 12);}
    .offset-7 {padding-left: calc(100% * 7 / 12);}
    .offset-8 {padding-left: calc(100% * 8 / 12);}
    .offset-9 {padding-left: calc(100% * 9 / 12);}
    .offset-10 {padding-left: calc(100% * 10 / 12);}
    .offset-11 {padding-left: calc(100% * 11 / 12)}
}