* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 2.2em;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 2em;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -- Header -- */

header {
    position: relative;
    background: url(../img/bg_image.jpg) center center / cover;
    height: 100vh;
}

.header-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0 18px;
}

.logo img {
    width: 80px;
    height: 75px;
}

.menu {
    margin-left: auto;
}

.menu_list {
    display: flex;
}

.menu_link {
    position: relative;
    color: #fff;
    margin-right: 40px;
    border-bottom: 5px solid transparent;
}

.menu_link:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -47px;
    border-bottom: 5px solid #11749e;
    width: 0%;
    transition: 0.5s ease all;
    font-size: 1em;
}

.menu_link:hover:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -47px;
    border-bottom: 5px solid #11749e;
    width: 100%;
}

.social_icon {
    color: #fff;
    margin-right: 20px;
}

.social_icon:last-child {
    margin-right: 0;
}

header .title {
    color: #fff;
    text-transform: uppercase;
}

.header_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title_span {
    text-align: center;
    display: block;
    color: #11749e;
    font-size: 1.2em;
    letter-spacing: 1.1em;
    text-transform: uppercase;
}

.scroll_span {
    display: block;
    text-align: center;
    color: #fff;
    margin-top: 10vh;
}

.header_scroll {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 65px;
    height: 65px;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 20px auto 0;
}

/* -- About -- */

.about {
    background: #11749e;
    padding: 165px 0 125px;
}

.about .title {
    color: #fff;
    position: relative;
    text-align: center;
}

.about .title:before {
    content: 'W';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6em;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.2);
}

.about_row {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.about_block {
    max-width: 264px;
    color: #fff;
    text-align: center;
}

.about_circle {
    width: 130px;
    height: 130px;
    background: #2e85aa;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.about .heading {
    text-transform: uppercase;
    padding: 20px 0 25px;
}

/* -- News -- */

.news .title {
    margin: 15px 0 40px;
}

.news_block {
    padding: 75px 0 110px;
}

.news_block_left {
    background-image: url(../img/news_image_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
}

.news_block_right {
    background-image: url(../img/news_image_2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50%;
}

.news_block_dark,
.news_block_dark .title,
.news_block_dark .text {
    color: #fff;
    background-color: #222222;
}

.news_block_light,
.news_block_light .title,
.news_block_light .text {
    color: #222222;
    background-color: #fff;
}

/* -- Blog -- */

.blog {
    color: #222222;
    padding: 160px 0 110px;
}

.blog .title {
    position: relative;
    text-align: center;
}

.blog .title:before {
    content: 'B';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6em;
    transform: translate(-50%, -50%);
    color: rgba(34, 34, 34, 0.2);
}

.blog_span {
    display: block;
    text-align: center;
    font-size: 1.4em;
    margin-top: 100px;
}